

<div class="foot1">
  <footer>
    <a href=""><img src="" alt=""></a>
    <p>Geek Triplets</p>
    <div class="nav-links">
      <ul>
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="f-icons">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
    </div>

    <hr>

    <div>
      <p>2023 GeekTriplets.com  All rights reserved</p>
      <p>Terms and conditions Privacy Policy </p>
    </div>
  </footer>
</div>
