
<div class="foot0">
<button class="foot-btn1">Subscribe to our email</button>
<p>For latest Products and Offers</p>
<button class="foot-btn2">Enter Your Email Address <span>Subscribe</span> </button>
<p class="ft">Dont miss out on out products and offers</p>
</div>
<div class="foot1">
  <footer>
    <a href=""><img src="" alt=""></a>
    <p>Geek Triplets</p>
    <div class="nav-links">
      <ul>
        <li>Home</li>
        <li>Services</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="f-icons">
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
    </div>

    <hr>

    <div>
      <p>2023 GeekTriplets.com  All rights reserved</p>
      <p class="foot-p">Terms and conditions | Privacy Policy </p>
    </div>
  </footer>
</div>
