
<!-- LANDING ONE -->
<div class="main-land">
  <h1 >Upscale Your <br> Business <span>Potential</span></h1>
  <hr><hr class="hr2">
  <p>Optimize ten times the potential of your business by making it available on the <br>
    internet through a powerful domain name. Let us work together to develop the best <br>
    web and mobile application that best suits your business niche.</p>
  <button class="btn2">Read More</button>
  <img src="./assets/firstimage.png" class="card-img" alt="...">
  <p class="main-p"> Facebook   Instagram   YouTube   Twitter </p>
</div>


<!-- ABOUT SECTION -->
<div class="about">
  <div class="bout-img">
    <img src="./assets/student.jpg" class="card-img1" alt="...">
  </div>

  <h1>About Us</h1>
  <p>Our goal and mission is to provide you with world class designs and well thought out and executed mobile applications and websites at a pocket  friendly prices.Our goal and mission is to provide you with world class designs and well thought out and executed mobile applications and websites at a pocket  friendly prices.</p>
  <button class="btn2">Read More</button>
</div>


<!-- MAIN SERVICES SECTION -->
<div class="main-serv">
  <h1>Our Services</h1>
  <p>Our goal and mission is to provide 
    you with world  class designs and well thought
     out and executed mobile applications and 
    websites at a pocket friendly prices.</p>
  <button class="btn2">Order now</button>

  <div class="row">
    <div class="serve-col">
      <p></p>
      <h2>Designing</h2>
      <p>State of the Art Mobile and Website Designs</p>
    </div>

    <div class="serve-col">
      <p></p>
      <h2>Developmet</h2>
      <p>Clean and efficient code for custom websites, 
        and appealing WordPress websites</p>
    </div>

    <div class="serve-col">
      <p></p>
      <h2>Hosting</h2>
      <p>We host your application at half the market price, 
        billed after every 3 years</p>
    </div>

    <div class="serve-col">
      <p></p>
      <h2>Tutorials</h2>
      <p>We provide students with the coding tutorial 
        to upscale their coding skills.</p>
    </div>
  </div>
</div>


<!-- SUB SERVICES SECTION -->
  <div class="projects">
    <h1>Our Latest Designs and Apps</h1>

    <div class="row">
      <div class="projects-col">
        <img src="./assets/meeting.jpeg" class="card-img2" alt="...">
        <h3>Design</h3>
        <p>Forbius complete with website design.</p>
      </div>
      <div class="projects-col">
        <img src="./assets/aboutone.jpg" class="card-img2" alt="...">
        <h3>Application</h3>
        <p>Forbius complete with website design.</p>
      </div>
      <div class="projects-col"> 
        <img src="./assets/moremeeting.jpg" class="card-img2" alt="...">
        <h3>Design</h3>
        <p>Forbius complete with website design.</p>
      </div> 

      <button class="btn2">View all our works</button>
      </div>
    </div>


    <!-- PRICE PLAN SECTION -->
    <div class="price-sec">
      <h1>Our Price Plan </h1>
      <p>Our goal and mission is to provide you with world class designs and well thought out and executed mobile applications and <br> websites at pocket friendly prices</p>
      <hr>

      <div class="projects-col1">
        <h3>Designing</h3>
        <p>Web & mobile design</p>
        <hr>
        <h3>$50 / Project</h3>

        <div>
          <p>State of the Art Design Enable 
            Integrate the Design to Your Figma
            Design Specifications in Json File
            Extreme Typography
            Vibrant Color Usage</p>
          <button class="btn2">Order Now</button>
        </div>
      </div>

      <div class="projects-col1">
        <h3>Develop </h3>
        <p>Wordpress/Custom</p>
        <hr>
        <h3>$50/200</h3>

        <div>
          <p>State of the Art Design Enable 
            Integrate the Design to Your Figma
            Design Specifications in Json File
            Extreme Typography
            Vibrant Color Usage</p>
          <button class="btn2">Order Now</button>
        </div>
      </div>

      <div class="projects-col1">
        <h3>Hosting</h3>
        <p>Mobile & web hosting </p>
        <hr>
        <h3>$30/120</h3>

        <div>
          <p>State of the Art Design Enable 
            Integrate the Design to Your Figma
            Design Specifications in Json File
            Extreme Typography
            Vibrant Color Usage</p>
          <button class="btn2">Order Now</button>
        </div>
      </div>

    </div>


