/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,500;1,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.main-land{
  background: #eceff1;
  padding-left: 111px;
  padding-bottom: 111px;
}

.main-land h1{
  font-size: 80px;
}

.main-land span{
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hr{
  width: 7px;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  display: inline-block;
} */

hr{
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  margin-left: 290px;
  margin-top: 20px;
}

.main-land p{
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn2{
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
  background: var(--Button-Color, linear-gradient(96deg, rgba(127, 80, 226, 0.77) -10.44%, rgba(11, 255, 196, 0.77) 108.53%, rgba(11, 255, 196, 0.77) 108.54%));
}

.card-img{
  top:20%;
  position: absolute;
  right: 15%;
  bottom: 0;
  height: 600px;
}

.main-p{
  font-weight: 700;
  word-spacing: 1cm;
}

/* ABOUT SECTION */

  .about{
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-left: 111px;
  }

  .bout-img{
    /* background: url(.../assets/aboutone.jpg); */
    /* background-size: 20px 20px; */
    /* background: url("../../assets/aboutone.jpg"); */
    height: 500px;
    width: 500px;
    border-radius: 20px;
  }

  .card-img1{
    border-radius: 20px;
  }

  .inner-sec{
    width: 30%;
    float: right;
  }

  .inner-sec span{
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  }

  .inner-sec h1{
    padding-bottom: 20px;
  }

  .hr2{
    width: 90px;
    height: 5px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#7f50e2, #0bffc4);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* MAIN SERVICES SECTION */


  .main-serv{
    padding-left: 111px;
    background: #ECEFF1;
  }


.main-serv span{
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.main-serv h1{
  padding-top: 60px;

}

.main-serv p{
  width: 30%;
}

.serve-col{
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  /* grid-gap: 2rem; */
  margin-top: 10px;
  background-color: #fff;
  width: 250px;
  border-radius: 20px;
  padding: 25px;
  /* text-align: center; */
}

.serve-col p{
  text-align: center;
}

/* SUB-SERVICE SECTION */

.projects{
  background: #F5F5F5;
  padding-left: 111px;
  padding-bottom: 100px;
}

.projects h1{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

.projects span{
  background: var(--Button-Color, linear-gradient(96deg, rgba(127, 80, 226, 0.77) -10.44%, rgba(11, 255, 196, 0.77) 108.53%, rgba(11, 255, 196, 0.77) 108.54%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 100px;
}

.projects-col{
  float: left;
  margin: 5px;
}

.card-img2{
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.btn3{
  padding: 10px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: none;
  color: #fff;
  /* display: flex; */
  display:block;
  margin: 0 auto;
  /* justify-content: flex-end; */
  border-radius: 15px;
  background: var(--Button-Color, linear-gradient(96deg, rgba(127, 80, 226, 0.77) -10.44%, rgba(11, 255, 196, 0.77) 108.53%, rgba(11, 255, 196, 0.77) 108.54%));
}

.proj-inner{
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  width: 330px;
  height: 100px;
  display:block;
  position: absolute;
  padding-left: 50px;
}

.proj-inner p{
  background: var(--Button-Color, linear-gradient(96deg, rgba(127, 80, 226, 0.77) -10.44%, rgba(11, 255, 196, 0.77) 108.53%, rgba(11, 255, 196, 0.77) 108.54%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}