

  <div class="projects">
    <h1>MY PROJECTS</h1>
    <p>Some of the projects that i have done include: My first website; a website for Hubba Hubba Resort and another one called Happy Trails Travel Agency.</p>

    <div class="row">
      <div class="projects-col">
        <h3>My First Website</h3>
        <p>This is my very first project that i developed on the first week as a student at Moringa School. This is a simple website that uses HTML and CSS coding languages. Checkout <a href="https://github.com/oyesa/my-first-webpage">My First Webpage</a> website.</p>
      </div>
      <div class="projects-col">
        <h3>The Memory collector</h3>
        <p>The Memory collector website is a portfolio website showcasing photography work. The website is built on HTML, styled with CSS and made functional with JavaScript. Take a peak at <a href="https://oyesa.github.io/photography-portfolio/">The Memory Collector.</a></p>
      </div>
      <div class="projects-col"> 
        <h3>Happy Trails Travel Agency</h3>
        <p>This website is about a travel agency called Happy Trails and the services they offer. The layout is simple and uses HTML with CSS styling. You can take a look at it here <a href="https://github.com/oyesa/happy-trails-travel-agency">Happy Trails Traveling Agency.</a> </p>
      </div> 
      </div>
    </div>


