/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,500;1,1000&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.main-land{
  background: #eceff1;
  padding-left: 111px;
  padding-bottom: 111px;
}

.main-land h1{
  font-size: 80px;
}

.main-land span{
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* hr{
  width: 7px;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  display: inline-block;
} */

hr{
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  margin-left: 290px;
  margin-top: 20px;
}

.main-land p{
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn2{
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  border-radius: 15px;
  background: var(--Button-Color, linear-gradient(96deg, rgba(127, 80, 226, 0.77) -10.44%, rgba(11, 255, 196, 0.77) 108.53%, rgba(11, 255, 196, 0.77) 108.54%));
}

.card-img{
  top:20%;
  position: absolute;
  right: 15%;
  bottom: 0;
  height: 600px;
}

.main-p{
  font-weight: 700;
  word-spacing: 1cm;
}

/* ABOUT SECTION */


  /* width: 55%; */
  /* float: right; */
  /* background: url(../assets/aboutone.jpg) no-repeat left; */
  /* background-size: 55%; */
  /* background: -webkit-linear-gradient(#7f50e2, #0bffc4); */
  /* padding: 140px; */
  /* box-shadow: 13px 12px 8px rgba(0,0,0,0.3); */

  .about{
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-left: 111px;
  }

  .bout-img{
    /* background: url(.../assets/aboutone.jpg); */
    /* background-size: 20px 20px; */
    /* background: url("../../assets/aboutone.jpg"); */
    height: 500px;
    width: 500px;
    border-radius: 20px;
  }

  .card-img1{
    border-radius: 20px;
  }

  .inner-sec{
    width: 30%;
    float: right;
  }

  .inner-sec span{
  background: -webkit-linear-gradient(#7f50e2, #0bffc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  }

  .inner-sec h1{
    padding-bottom: 20px;
  }

  .hr2{
    width: 90px;
    height: 5px;
    border-radius: 5px;
    background: -webkit-linear-gradient(#7f50e2, #0bffc4);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }